* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/*--------------------------------------------------Section 1 */
.s1 {
  padding: 0;
  margin: 0px 8px 0px 0px;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid white;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

/* s1-div1 */
.s1-div1 {
  padding: 30px;
  width: 100%;
  height: 8vh;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s1-div1 .container-logo {
  width: 20%;
}

.s1-div1 .container-logo img {
  width: 130px;
}

.s1-div1 .container-busqueda {
  position: relative;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: none;
  border-radius: 100px;
  width: 50%;
}

.container-busqueda .input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  padding: 0 20px;
}

.input-search input {
  width: 40%;
  color: white;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.container-busqueda .icon-search {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}

.container-busqueda .icon-microfon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}

.container-notificaciones {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
}

.container-notificaciones svg {
  width: 25px;
  color: #ffffff;
  padding: 10px;
}

.s1-div1 .container-perfil {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}

.container-perfil .foto-perfil {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #45e186;
}

.container-perfil .name-perfil {
  color: white;
}

/* s1-div2 */
.s1-div2 {
  padding: 0;
  margin: 8px;
  width: 100%;
  height: 80vh;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.s1-div2-1 {
  padding: 0;
  margin: 0;
  width: 30vw;
  height: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

}

.s1-div2-1-1 {
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 20%;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
  flex-wrap: nowrap;
}

.s1-div2-1-1 div {
  width: 100%;
  color: white;
}

.s1-div2-1-1 div a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.s1-div2-1-2 {
  padding: 20px;
  margin-top: 8px;
  width: 100%;
  height: 80%;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.s1-div2-1-2 .div-yourLibrary{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
}
.s1-div2-1-2 .div-yourLibrary div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1-div2-1-2 .div-yourLibrary a{
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
.div-yourLibrary .botones-listas svg{
  padding-left: 20px;
}
.div-yourLibrary svg{
  width: 25px;
}
.div-etiquetas{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.div-etiquetas .etiqueta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 100px;
  background-color: #26262e;
  color: white;
}
.s1-div2-1-2 .div-filtros{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.div-filtros .cuadro-busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuadro-busqueda .input-search{
  border-radius: 100px;
  padding: 5px 10px;
  width: 100%;
  color: white;

}
.cuadro-busqueda .icon-search{
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
}

.div-filtros .filtro-recents select {
  padding: 10px;
  border: none;
  background-color: #151515;
  color: #ffffff;
}

/* Estilo para las opciones */
.div-filtros .filtro-recents select option {
  font-size: 14px;
  background-color: #272727;
  color: #ffffff;
}
.s1-div2-1-2 .div-playlist{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.div-playlist .img-playlist{
  width: 60px;
  height: 60px;
  background-color: #45e186;
  border-radius: 8px;
}
.div-playlist .info-playlist{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}







.s1-div2-2 {
  padding: 20px;
  margin-right: 8px;
  margin-left: 8px;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.s1-div2-2 .banner-div2-2{
  width: 100%;
  height: 100%;
  background-color: #45e186;
}
.s1-div2-2 .parties{
  color: #ffffff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.parties .controles-parties-range{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0 20px 0 ;
}
.parties .playlist-parties{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
}
.playlist-parties .coletion{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #45e186;;
  box-sizing: border-box;
  border-radius: 10px;
  
}
.s1-div2-2 .madeForYou{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}










/*s1-div3*/
.s1-div3 {
  padding: 30px;
  margin: 0;
  width: 100%;
  height: 10vh;
  border: 1px solid white;
  box-sizing: border-box;
  background-color:#151515;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
.s1-div3 .info-cancion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.info-cancion .cancion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.cancion .img-cancion-playing{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #45e186;
}
.cancion .info-cancion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.info-cancion .name-song-playing{
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.info-cancion .accion-like{
  padding-left: 25px;
  color: #45e186;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.s1-div3 .reproductor{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.reproductor .controles-reproductor {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reproductor .controles-reproductor svg{
  width: 20px;
  height: 20px;
}
.reproductor .controles-reproductor .bi-play-circle{
  width: 30px;
  height: 30px;
}
.reproductor .time-songs{
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.time-songs .songs-bar{
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: #45e186;
}
.s1-div3 .controles-cancion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.controles-cancion .acciones-songs{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controles-cancion .acciones-songs svg{
  width: 20px;
  height: 20px;
}
.controles-cancion .control-volumen{
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controles-cancion .control-volumen svg{
  width: 30px;
  height: 30px;
}


















/*--------------------------------------------------Section 2*/
.s2 {
  padding: 30px 0;
  margin: 0;
  width: 4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  background-color: #151515;
}

.s2 .circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #45e186;
}